<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.brookcam.stream</string>

	<key>UserName</key>
	<string>gm</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/gm/brookcam/brookcam.sh</string>
	</array>

	<key>WorkingDirectory</key>
	<string>/Users/gm/brookcam</string>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>

	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>

	<key>StandardOutPath</key>
	<string>/tmp/brookcam.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/brookcam.err</string>
</dict>
</plist>
